@import "tailwindcss";

:root {
  --primary: #25badb;
  --secondary: #205a9f;
  --primary-text: #00283a;
  --secondary-text: #334155;
  --primary-text-dark: #ffffff;
  --secondary-text-dark: #d3dce2;
  --primary-grad: #00283a;
  --secondary-grad: #055983;
  --border: #d3e0ea;
  --primary-bg: #ffffff;
  --secondary-bg: #eaf0f7;
  --red-bg: #fb2c36;
  --yellow-bg: #ffb900;
  --nav-bg: #f3fdff;
  --nav-border: #d7f9ff;
  --nav-text: #8b999c;
  --nav-btn: #325a61;
  --dark-bg: #00283a;
}

@theme {
  --font-primary: "Poppins", sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-primary-text-dark: var(--primary-text-dark);
  --color-secondary-text-dark: var(--secondary-text-dark);
  --color-primary-grad: var(--primary-grad);
  --color-secondary-grad: var(--secondary-grad);
  --color-border: var(--border);
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-red-bg: var(--red-bg);
  --color-yellow-bg: var(--yellow-bg);
  --color-nav-bg: var(--nav-bg);
  --color-nav-border: var(--nav-border);
  --color-nav-text: var(--nav-text);
  --color-nav-btn: var(--nav-btn);
  --color-dark-bg: var(--dark-bg);
}

@layer base {
  body {
    @apply bg-primary-bg;
  }
  .dark body {
    @apply bg-dark-bg;
  }
}
/* apply font poppin to all */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
div {
  @apply font-primary;
}

.section-padding {
  @apply py-8 md:py-12 lg:py-20;
}
.container {
  @apply px-5 md:px-8 lg:px-0;
}

/* common hero title */
.hero-head {
  @apply text-primary-text font-bold text-3xl md:text-4xl lg:text-5xl leading-[130%] mt-0 md:mt-4;
}
.hero-head-dark {
  @apply text-primary-text-dark font-bold text-2xl md:text-3xl lg:text-5xl leading-[120%] mt-0 md:mt-4;
}
/* common section title */
.section-head {
  @apply text-primary-text font-bold text-2xl md:text-4xl lg:text-5xl leading-[140%] mt-0 md:mb-4;
}
.section-head-dark {
  @apply text-primary-text-dark font-bold text-2xl md:text-3xl lg:text-4xl leading-[140%] mt-0 md:mb-4;
}
/* common section description */
.section-head-desc {
  @apply text-secondary-text md:text-lg mb-4;
}
.section-head-desc-dark {
  @apply text-secondary-text-dark md:text-lg mb-4;
}
/* common text */
.com-text {
  @apply text-secondary-text text-sm md:text-[16px] leading-7;
}
.com-text-dark {
  @apply text-secondary-text-dark text-sm md:text-[16px] leading-7;
}
.nav-list {
  @apply font-primary  text-[16px] font-light;
}
.footer-col-title {
  @apply text-secondary-text-dark font-bold;
}
.footer-col-link {
  @apply flex flex-col items-start gap-y-4 mt-4 font-extralight;
}

/* Work */
.work-card {
  @apply rounded-[40px] px-6 lg:px-12 pt-6 lg:pt-10 pb-8 lg:pb-12 border-t-4  w-full md:max-w-1/2;
}

/* Gradient version */
.grad-v1 {
  @apply bg-[radial-gradient(circle_at_50%_50%,var(--secondary-grad),var(--primary-grad))];
}
.grad-v2 {
  @apply bg-linear-to-b from-secondary to-red-bg;
}
.grad-v3 {
  @apply bg-linear-to-b from-secondary to-yellow-bg;
}
.bg-gradient-radial {
  @apply bg-radial from-primary/10 via-secondary-grad/10 to-primary/10;
}
.bg-gradient {
  @apply bg-linear-to-b from-secondary to-primary;
}
.section-bg-gradient {
  @apply bg-linear-to-r from-secondary to-primary;
}
