@import "tailwindcss";

:root {
  --primary: #25badb;
  --secondary: #205A9F;
  --primary-text: #0c0c0c;
  --secondary-text: #334155;
  --primary-text-dark: #ffffff;
  --secondary-text-dark: #d3dce2;
  --primary-grad: #00369f;
  --secondary-grad: #6432cd;
  --border: #d3e0ea;
  --primary-bg: #ffffff;
  --secondary-bg: #eaf0f7;
  --dark-bg: #000710;
}

@theme {
  --font-primary: "Poppins", sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-primary-text-dark: var(--primary-text-dark);
  --color-secondary-text-dark: var(--secondary-text-dark);
  --color-primary-grad: var(--primary-grad);
  --color-secondary-grad: var(--secondary-grad);
  --color-border: var(--border);
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-dark-bg: var(--dark-bg);
}

@layer base {
  body {
    @apply bg-primary-bg;
  }
  .dark body {
    @apply bg-dark-bg;
  }
}
/* apply font poppin to all */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
div {
  @apply font-primary;
}
.bg-gradient-radial {
  @apply bg-radial from-primary/10 via-secondary-grad/10 to-primary/10;
}
.bg-gradient {
  @apply bg-linear-to-r from-secondary via-primary to-secondary;
}
.section-bg-gradient {
  @apply bg-linear-to-r from-secondary to-primary;
}

.section-padding {
  @apply py-5 md:py-7 lg:py-20;
}
.container {
  @apply px-6 md:px-0;
}

/* common hero title */
.hero-head {
  @apply text-primary-text font-bold text-2xl md:text-4xl lg:text-5xl leading-[120%] mt-0 md:mt-4;
}
.hero-head-dark {
  @apply text-primary-text-dark font-bold text-2xl md:text-3xl lg:text-5xl leading-[120%] mt-0 md:mt-4;
}
/* common section title */
.section-head {
  @apply text-primary-text font-bold text-2xl md:text-3xl lg:text-4xl leading-[140%] mt-0 md:mb-4;
}
.section-head-dark {
  @apply text-primary-text-dark font-bold text-2xl md:text-3xl lg:text-4xl leading-[140%] mt-0 md:mb-4;
}
/* common section description */
.section-head-desc {
  @apply text-secondary-text md:text-lg mb-4;
}
.section-head-desc-dark {
  @apply text-secondary-text-dark md:text-lg mb-4;
}
/* common text */
.com-text {
  @apply text-secondary-text text-sm md:text-[16px] leading-7;
}
.com-text-dark {
  @apply text-secondary-text-dark text-sm md:text-[16px] leading-7;
}
.nav-list {
  @apply font-primary  text-[16px] font-light;
}
.hero-list-item {
  @apply flex items-center justify-start md:gap-7 gap-3  text-secondary-text font-extralight  leading-[120%];
}
.footer-col-title {
  @apply text-secondary-text-dark font-bold;
}
.footer-col-link {
  @apply flex flex-col items-start gap-y-4 mt-4 font-extralight;
}

/* Gradient version */
.grad-v1 {
  @apply bg-[radial-gradient(circle_at_center,#6F00FF_0%,#2E00F9_50%,#001B44_100%)];
}
.grad-v2 {
  @apply bg-[radial-gradient(circle_at_center,#003CFF_0%,#002266_50%,#000E33_100%)];
}
.grad-v3 {
  @apply bg-[radial-gradient(circle_at_center,#0A5BFF_0%,#002A99_40%,#001B66_100%)];
}
.grad-v4 {
  @apply bg-[radial-gradient(circle_at_center,#0074D9_0%,#0A2472_60%,#001F3F_100%)];
}
.grad-v5 {
  @apply bg-[radial-gradient(circle_at_bottom_right,#00C6FF_0%,#0057FF_40%,#00144D_100%)];
}
.grad-v6 {
  @apply bg-[radial-gradient(circle_at_bottom_right,#00F0FF_0%,#5C6FFF_35%,#6F00FF_70%,#001133_100%)];
}
